/* ===============================================================================================================================================================================
            RESET
================================================================================================================================================================================ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===============================================================================================================================================================================
            PAGE LAYOUT
================================================================================================================================================================================ */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding-top: 55px;
}

.page-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* ===============================================================================================================================================================================
            HEADER
================================================================================================================================================================================ */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f2937;
    padding: 20px 20px 20px 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000; /* ensures it stays above other content */
}

/* ===============================================================================================================================================================================
                        NAVIGATION BAR ITEMS
================================================================================================================================================================================ */
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #60a5fa; /* light blue on hover */
}

/* ===============================================================================================================================================================================
            ASIDE
================================================================================================================================================================================ */
.sidebar {
    width: 20%;
    background-color: #1e90ff;
    color: white;
    padding: 30px;
    height: 100vh;
    position: sticky;
    text-align: center;
    top: 0;
}

/* ===============================================================================================================================================================================
                        FONTS / TEXTS
================================================================================================================================================================================ */
.sidebar h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 2.5em;
}   

.sidebar h2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.sidebar h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
}

.sidebar p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* ===============================================================================================================================================================================
                        ABOUT
================================================================================================================================================================================ */
.sidebar-about {
    padding-top: 30px;
}

/* ===============================================================================================================================================================================
                        SOCIAL ICONS
================================================================================================================================================================================ */
.sidebar-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 75%;
    padding-top: 30px;
}

/* ===============================================================================================================================================================================
            MAIN
================================================================================================================================================================================ */
.main-content {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}