/* ===============================================================================================================================================================================
            RESET
================================================================================================================================================================================ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===============================================================================================================================================================================
            PAGE LAYOUT
================================================================================================================================================================================ */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding-top: 55px;
}

.page-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* ===============================================================================================================================================================================
            HEADER
================================================================================================================================================================================ */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f2937;
    padding: 20px 20px 20px 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000; /* ensures it stays above other content */
}

/* ===============================================================================================================================================================================
                        NAVIGATION BAR ITEMS
================================================================================================================================================================================ */
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #60a5fa; /* light blue on hover */
}

/* ===============================================================================================================================================================================
            ASIDE
================================================================================================================================================================================ */
.sidebar {
    width: 20%;
    background-color: #1e90ff;
    color: white;
    padding: 30px;
    height: 100vh;
    position: sticky;
    text-align: center;
    top: 0;
}

/* ===============================================================================================================================================================================
                        FONTS / TEXTS
================================================================================================================================================================================ */
.sidebar h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 2.5em;
}   

.sidebar h2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.sidebar h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
}

.sidebar p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* ===============================================================================================================================================================================
                        ABOUT
================================================================================================================================================================================ */
.sidebar-about {
    padding-top: 30px;
}

/* ===============================================================================================================================================================================
                        SOCIAL ICONS
================================================================================================================================================================================ */
.sidebar-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 75%;
    padding-top: 30px;
}

/* ===============================================================================================================================================================================
            MAIN
================================================================================================================================================================================ */
.main {
    width: 80%;
    padding: 20px 40px;
    overflow-y: auto;
    background-color: antiquewhite;
}

/* ===============================================================================================================================================================================
                        FONTS / TEXTS
================================================================================================================================================================================ */
.main h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
}

.main h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
}

.main h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.main p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

.main a {
    color: black;
}

.main ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into the next row */
}

.main li {
    flex: 1 0 25%; /* Each item will take up 1/3 of the width (adjustable) */
    padding: 10px;
}

.styled-line {
    border: none;          /* Removes the default border */
    height: 1.5px;           /* Sets the thickness of the line */
    background-color: black; /* Sets the color of the line */
}

/* ===============================================================================================================================================================================
                        CONTACTS
================================================================================================================================================================================ */
.main-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 50px;
}

.main-contact-items {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px; /* Adds space between each item in .main-contact-items */
}

/* ===============================================================================================================================================================================
                        GRID CONTAINER
================================================================================================================================================================================ */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
    width: 100%;
  }
  
  .left-text {
    justify-self: start; /* Aligns text to the left */
  }
  
  .right-text {
    justify-self: end; /* Aligns text to the right */
  }

/* ===============================================================================================================================================================================
                        RESUME NEW CATEGORY
================================================================================================================================================================================ */
.main-resume-category {
    padding-top: 20px;
}