/* 
    Author: Yi Li
    Project: Personal Webpage
    Start date: April 1, 2025
    Document: CSS file, people say "skin of a person"
*/

/* 

    Entire Webpage font style 

*/

body {
    /* Set font style to times new roman, or Times or Serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite; /* Set BG color to antique white */
    font-size: 24px; /* Set font size to 24px */
    color: black; /* Set font color to black */
    opacity: 0; /* make body not visible*/
    animation: fadeIn 1s ease forwards; /* fade body in 3 second*/

    /* End of body style */
}

/* p text style */
p {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px; /* Set font size to */
    line-height: 2; /* line height */

    /* End of p style */
}

/* h1 text style, title */
h1 {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px; /* Set font size to */
    font-weight: bold; /* Set font to bold */
    line-height: 2; /* line height */

    /* End of h1 style */
}

/* h2 text style, bold */
h2 {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px; /* Set size to */
    font-weight: bold; /* Set font to bold */
    line-height: 2; /* line height */

    /* End of h2 style */
}

/* h3 text style, slanted */
h3 {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px; /* Set size to */
    font-style: oblique; /* Set font to oblique */
    line-height: 2; /* line height */

    /* End of h3 style */
}

/* h4 text style, normal text */
h4 {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Set font to Times new roman*/
    font-size: 24px; /* Set size to */
    line-height: 2; /* line height */

    /* End of h4 style */
}

/* ul list text style, disc*/
ul {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-left: 48px; /* Set padding left 48px */
    padding-right: 48px; /* Set padding right 48px */
    list-style: disc; /* Set list to disc */
    line-height: 2; /* line height */

    
    /* End of ul list style */
}

/* button style */
button {
    /* Set font to Georgia, TNR, serif */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite; /* BG color to antique white */
    color: black; /* text color black */
    font-size: 16px; /* font size 16px */
    font-weight: bold;
    border: 0; /* no border, get rid of border line */
    text-align: center; /* text in center */
    cursor: pointer; /* When cursor hovers, turn to pointer */
    margin-left: 24px; /* margin left 24px */
    margin-right: 24px; /* margin right 24px */
    padding: 12px 24px; /* padding T&B 6px, L&R 24px

    /* End of button style*/
}

/* button hover sytle */
button:hover {
    color: gray; /* change color gray */

    /* End of button hover style*/
}

/* 

    Entire Webpage format style, classes

*/

/* navigation bar format */
.navigation-bar {
    display: flex; /* allow to align */
    justify-content:space-evenly; /* space evenly between item and margin */
    align-items: center; /* align all item center of screen */
    position: fixed; /* navigation fixed on top */
    background-color: antiquewhite; /* solid background so cant see through */
    padding-top: 20px; /* padding top widder */
    padding-bottom: 6px; /* padding bottom widder */
    overflow: hidden; /* prevent overflow */
    width: 100%; /* prevent space overlap*/
    z-index: 1000; /* prevent navbar being below texts */

    /* End of navigation bar format */
}

/* section container, a whole part of a section */


/* section items */
.section-item {
    margin: 50px; /* margin 50px */
    padding: 30px; /* padding 30px */
    border: 1px; /* border 1 px */
    border-style: double; /* border style: line */

    /* end of section-item */
}

/* section left */
.section-left {
    width: 50%; /* width is 50% of the box */
    text-align: start; /* text will be on left */

    /* end of section left */
}

/* section right */
.section-right {
    width: 50%; /* width is 50% of the box */
    text-align: end; /* text will be on right */

    /* end of section right */
}

/* section center */
.section-center {
    display: flex; /* divides into 2 parts, L&R */

    /* end of section center */
}

/* Dark mode styles */
.dark-mode {
    background-color: black; /* Dark background for dark mode */
    color: antiquewhite; /* antique white text for dark mode */
}

/* Dark mode styles for the navbar */
.dark-mode .navigation-bar {
    background-color: black; /* Dark background for navbar */
    color: antiquewhite; /* Antique white text for navbar */
}

/* Dark mode style for button */
.dark-mode button {
    background-color: black; /* Dark background for dark mode */
    color: antiquewhite; /* antique white text for dark mode */
}

/* Dark mode icon color */
.dark-mode .social-icon {
    filter: invert(1) brightness(2); /* Change icon color using filter */
}

/* Reset icon color for light mode */
.social-icon {
    filter: invert(0) brightness(1); /* Reset to original color in light mode */
}

/* hide the reveal sections */
.reveal {
    opacity: 0; /* make section not visable */
    transform: translateY(50px); /* move 50px down */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* move fast to slow, from invisible to visable */
}

/* unhides the reveal sections */
.reveal.visible {
    opacity: 1; /* reveals sections */
    transform: translateY(0); /* move section to middle of screen */
}

/* loading screen text style */
.loading-screen-text {
    font-size: 50px; /* font size to 50px */
    font-family: Georgia, 'Times New Roman', Times, serif; /* font type */
    font-weight: bolder; /* font thickness */
    animation: fadeBlink 1.5s infinite; /* fade blinks text for 1.5 seconds */
}

/* fade out */
.fade-out {
    animation: fadeOut 1s forwards;
}

/* fade in */   
.fade-in {
    animation: fadeIn 1s forwards;
}

/* 

    Entire Webpage format style, id

*/

/* give more padding so scrolling will be in place */
#Biography {
    padding-top: 20px;
}
#Working-Experience {
    padding-top: 20px;
}
#Project {
    padding-top: 20px;
}
#Contact {
    padding-top: 20px;
}

/* Make specific text in center*/
#text-center {
    text-align: center;
}

/* Center item to middle of screen */
#item-space-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* loading screen set up */
#loading-screen {
    position: fixed; /* stay on same spot */
    width: 100%; /* fit whole screen */
    height: 100%;
    background-color: black; /* bg color black*/
    color: antiquewhite;
    display: flex; /* change layout*/
    justify-content: center; /* center the item*/
    align-items: center;
    z-index: 1001; /* making sure this loading screen is above everything */   
    opacity: 1;
}

/*

    special keyframes for smooth transitions

*/

/* blinking effect for texts */
@keyframes fadeBlink {
    0%, 100% {opacity: 1;} /* from percentage 0 and 100, opacity is full */
    50% {opacity: 0.5;} /* when percentage is 50, opacity is half in effect */
    
}

/* smoothy fading away */
@keyframes fadeOut {
    from { /* 100% opacity is true */
        opacity: 1;
    }
    to {
        opacity: 0; /* opacity turns false, see through */
        visibility: hidden; /* make element invisible and unclickable*/
    }
}

/* smoothly fades in */

@keyframes fadeIn {
    from { /* 0% opacity is false */
        opacity: 0;
    }
    to {
        opacity: 1; /* when 100%, opacity is true */
        visibility: visible; /* make elemnt visible and clickable */
    }
}