/* 
    Author: Yi Li
    Project: Personal Webpage
    Start date: April 1, 2025
    Document: CSS file, people say "skin of a person"
*/

/* Entire Webpage style */
body {
    /* Set BG color to antique white */
    background-color: antiquewhite;

    /* Set font style to times new roman, or Times or Serif */
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* Set font size to 16px */
    font-size: 24px;

    /* Set font color to black*/
    color: black;

    /* Change default padding and margins */
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;

    /* End of body style*/
}

/* p text style*/
p {
    /* Set font to Times new roman*/
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* Set size to */
    font-size: 24px;

    /* End of p style */
}

/* h1 text style*/
h1 {
    /* Set font to Times new roman*/
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* Set size to */
    font-size: 40px;

    /* End of h1 style */
}
